*{
    box-sizing:border-box ;
}

body{
    font-family: 'Roboto Mono',sans-serif;
    margin: 0;
    padding: 0;
}

h2,h3{
    color:#626F47 ;
}

footer {
    padding: 20px;
    color: white;
    background-color: hsl(72, 32%, 40%);
    text-align: center;
    font-weight: bold;
  }

  nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: hsl(72, 32%, 40%);
  }

  nav a:hover {
    font-weight: bold;
  }

  .phead{
    text-align: center;
  }

  .feaimg{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position:center ;
  }

  .pimg{
    width: 200px;
  }

  .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }

  .navbar{
    font-size: 20px;
    padding: 60px;
    background-image: url(cat.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#FEFAE0 ;
  }

  nav li{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
  }

  nav{
    background-color: #FEFAE0;
    padding: 5px;
    position: sticky;
    top: 0;
  }


  main{
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
  }

  #content{
    flex: 0 0 75%;
    max-width: 75%;
  }

  aside{
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 20px;
  }

  header{
    display: inline;
  }

  .slide{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position:center ;

  }

  .slider img{
    width: 100%;
    display: none;
  }

  img.displaySlide{
    display: block;
  }

@media screen and (max-width: 1000px) {
    #content, aside {
      flex: 0 0 100%;
      max-width: 100%;
    }

    aside {
      padding-left: 0;
      margin-top: 20px;
    }
}
